html,
body {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}
p {
    margin: 0;
}
a {
    text-decoration: inherit;
    color: inherit;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
li {
    display: inline;
    padding: 1.5%;
    font-family: 'Exo', sans-serif;
}
#title {
    font-size: 400%;
    font-family: 'Exo', sans-serif;
    text-align: center;
    display: block;
}
#navmenu {
    background-color: crimson;
    color: white;
    padding: 1.5%;
    margin: 0;
}
#welcome {
    background-image: url("wel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 70%;
    display: block;
    margin: 0;
}
#about {
    background-image: url("lol.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 70%;
    display: block;
    margin: 0;
}
#contact {
    background-image: url("bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 70%;
    display: block;
    margin: 0;
}
#msg {
    position: relative;
    text-align: center;
    margin: auto;
    font-family: 'Exo', sans-serif;
    font-size: 3vw;
    top: 35%;
    color: white;
    font-weight: bolder;
    width: 80%;
}
#footer {
    background-color: black;
    height: 15%;
    display: block;
    margin: 0;
    text-align: center;
    color: white;
    font-size: 1.5vw;
    font-family: 'Exo', sans-serif;
}
#ftrmsg {
    position: relative;
    top: 40%;
}
#btn {
    background-color: #3b5998;
    border-radius: 2px;
    padding: 1%;
    width: 60%;
    text-align: center;
    margin: auto;
    display: block;
}
@media only screen and (max-width: 500px) {
    html {
        font-size: 60%;
        width: 100%;
    }
    #navmenu {
        padding: 3%;
    }
    #title {
        font-size: 800%;
    }
    #msg {
        font-size: 5vw;
    }
}